{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "About Eric Scuccimarra" %}{% endblock %}
{% block meta_description %}{% trans "About meta description" %}{% endblock %}

{% block body %}
<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>{% trans "About Eric Scuccimarra" %}</h2>
			</div>
			<div class="panel-body">
				<p><a href="/media/eric-scuccimarra-picture-1.jpg" title="Eric Scuccimarra"><img src="/media/eric-scuccimarra-picture-1.jpg" style="max-height: 175px; padding-left: 6px; padding-right: 6px; border-radius: 15px;" class="img-rounded thumbnail" align="right" alt="Eric Scuccimarra" title="Eric Scuccimarra"></a>

				<h4>{% trans "About Eric" %}</h4>
				{% blocktrans %}About Eric text{% endblocktrans %}
				<p><a href="{% url 'cv:cv' %}">{% blocktrans %}My CV is available here.{% endblocktrans %}</a>
				</p>
				<hr>
				<h4>{% trans "About this site" %}</h4>
				{% blocktrans %}About this site content{% endblocktrans %}

				<hr>

				<p>{% trans "Some of my social media accounts:" %}
				<ul>
					<li><a href="https://github.com/escuccim">{% trans "My GitHub" %}</a>
					<li><a href="https://www.linkedin.com/in/escuccim">{% trans "My LinkedIn" %}</a>
					<li><a href="https://www.xing.com/profile/Eric_Scuccimarra">{% trans "My XING" %}</a>
					<li><a href="https://www.youtube.com/user/escuccim">{% trans "My YouTube" %}</a>
					<li><a href="https://www.soundcloud.com/skooch">{% trans "My Soundcloud" %}</a>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}