{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "About Eric Scuccimarra" %}{% endblock %}

{% block body %}
<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>{% trans "About Eric Scuccimarra" %}</h2>
			</div>
			<div class="panel-body">
				<p><img src="/images/EricScuccimarra-picture.jpg" style="max-height: 175px; padding-left: 6px; padding-right: 6px; border-radius: 15px;" class="img-rounded" align="right" alt="Eric Scuccimarra" title="Eric Scuccimarra">

				{% blocktrans %}
                	About Eric text
				{% endblocktrans %}
				<p>{% blocktrans %}
					My <a href="/about/cv">CV is available here.</a>
					{% endblocktrans %}
				</p>

				<hr>

				<p>{% trans "Some of my social media accounts:" %}
				<ul>
					<li><a href="https://github.com/escuccim">{% trans "My GitHub" %}</a>
					<li><a href="https://www.linkedin.com/in/escuccim">{% trans "My LinkedIn" %}</a>
					<li><a href="https://www.xing.com/profile/Eric_Scuccimarra">{% trans "My XING" %}</a>
					<li><a href="https://www.youtube.com/user/escuccim">{% trans "My YouTube" %}</a>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}